<!DOCTYPE html>
<html lang="de">
    <meta charset="utf-8">
    <head>
        

    </head>
    <body>
        <form action="../">
            <button type="submit">Zurück</button>
        </form>
        <h1>Impressum</h1>

        <p>Angaben gemäß § 5 TMG:</p>
        
        <p>
            Hochschule für öffentliche Verwaltung und Finanzen Ludwigsburg<br>
            Reuteallee 36<br>
            71634 Ludwigsburg<br>
            Deutschland
        </p>

        <h2>Kontakt:</h2>
        <p>
            Telefon: +49 7141-140-0<br>
            E-Mail: poststelle@hs-ludwigsburg.de
        </p>

        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
        <p>Diebold, Eberl, Ellerichmann, Hauser</p>
    
    </body>
</html>
