{% load static %}
<!DOCTYPE html>
<html lang="de">
<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Media Plattform</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
  {% if request.user.is_authenticated %}
  <script type="text/javascript">
    var username = "{{ request.user.username }}";
  </script>
  {% endif %}
  <script src="{% static 'scripts.js' %}"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
  <link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' rel='stylesheet' />

<!-- Dieses Script ist ausschließlich für den Hintergrund -->
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      particlesJS('particles-js', {
        particles: {
          number: {
            value: 100,
            density: {
              enable: true,
              value_area: 800
            }
          },
          color: {
            value: "#ffffff"
          },
          shape: {
            type: "circle",
            stroke: {
              width: 0,
              color: "#000000"
            },
            polygon: {
              nb_sides: 5
            },
            image: {
              src: "img/github.svg",
              width: 100,
              height: 100
            }
          },
          opacity: {
            value: 0.5,
            random: false,
            anim: {
              enable: false,
              speed: 1,
              opacity_min: 0.1,
              sync: false
            }
          },
          size: {
            value: 3,
            random: true,
            anim: {
              enable: false,
              speed: 40,
              size_min: 0.1,
              sync: false
            }
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: "#ffffff",
            opacity: 0.4,
            width: 1
          },
          move: {
            enable: true,
            speed: 6,
            direction: "none",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: false,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200
            }
          }
        },
        interactivity: {
          detect_on: "canvas",
          events: {
            onhover: {
              enable: true,
              mode: "repulse"
            },
            onclick: {
              enable: true,
              mode: "push"
            },
            resize: true
          },
          modes: {
            grab: {
              distance: 400,
              line_linked: {
                opacity: 1
              }
            },
            bubble: {
              distance: 400,
              size: 40,
              duration: 2,
              opacity: 8,
              speed: 3
            },
            repulse: {
              distance: 200,
              duration: 0.4
            },
            push: {
              particles_nb: 4
            },
            remove: {
              particles_nb: 2
            }
          }
        },
        retina_detect: true
      })
    });
  </script>

  <style>
    #particles-js {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0a0f24;
      z-index: -1; /* Ensures it's behind all other content */
    }
  </style>
<!-- Hintergrund Ende! -->

</head>

<body>

  <div id="particles-js"></div>

  <header>
    <div class="top-bar">
      <div class="field" class="top-button">
        {% if request.user.is_authenticated %}
        <img src="{{ userpic }}" class="field" id="userpic">
        <p id="usernumber">{{ request.user.username }}</p>
        <a class="linkywinky" href="{% url 'logout' %}" id="logout">Logout</a>
        {% else %}
        <a class="linkywinky" href="{% url 'login' %}">Login</a>
        <a class="linkywinky" href="{% url 'signup' %}">Signup</a>
        {% endif %}
      </div>
      <div><img src="{% static 'Platzhalter_Logo.jpg' %}" class="field" id="logo"></div>
      <div class="dropdown, field">
        <img src="static/menuebutton.png" onclick="myFunction()" class="dropbtn" id="menuebutton">
        <div id="myDropdown" class="dropdown-content">
            <a href="{% url 'Profil' %}">Profileinstellungen</a>
            <a href="{% url 'datenschutz' %}">Datenschutzerklärung</a>
            <a href="{% url 'impressum' %}">Impressum</a>
        </div>
        </div>

    </div>
  </header>

  <div id="widgets">
    <div class="widget-bar">
      <div class="note widget" id="weather"></div>
      <div class="note widget" id="map"></div>
      <script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
      <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js"></script>
        <script>
    document.addEventListener('DOMContentLoaded', async function () {
      async function fetchResidence() {
        const response = await fetch(`./static/Accountmanagement/${username}.json?cacheBust=${new Date().getTime()}`);
        const data = await response.json();
        return data.residence;
      }

      async function initMap() {
        const residence = await fetchResidence();
        const destination = [9.168821654634952, 48.89310895988894];

        mapboxgl.accessToken = 'pk.eyJ1IjoiN290ZW50YW56IiwiYSI6ImNseHhtc3A4dTE2czUybHF6bzgzY3lxeDcifQ.p4Pty2K8TmTXikYLu-CDxw';

        // Initialize the map
        const map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: residence, // Starting position [lng, lat] from users.json
          zoom: 4 // Starting zoom level
        });

        const directions = new MapboxDirections({
          accessToken: mapboxgl.accessToken,
          unit: 'metric',
          profile: 'mapbox/driving-traffic'
        });

        directions.setOrigin(residence); // Set origin from users.json
        directions.setDestination(destination);

        map.addControl(directions, 'top-left');

        map.on('load', () => {
          console.log('Map loaded successfully');})
        }

      // Initialize the map after fetching the residence data
      initMap();
      })
        </script>
    </div>
  </div>

<!-- Ab Hier Postfunktion!-->
{% if request.user.is_authenticated %}
<div id="posts"></div>
{% endif %}
<script>
  function postContent() {
      const content = document.getElementById('postContent').value;
      const csrftoken = getCookie('csrftoken');

      fetch('/add_post/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken
          },
          body: JSON.stringify({ content: content })
      })
      .then(response => response.json())
      .then(data => {
          if(data.message === "Post added successfully") {
              loadPosts();
          }
      });
  }

  function loadPosts() {
      fetch('/get_all_posts/')
      .then(response => response.json())
      .then(posts => {
          const postsContainer = document.getElementById('posts');
          postsContainer.innerHTML = '';
          posts.forEach(post => {
              const postDiv = document.createElement('div');
              postDiv.className = 'post';
              postDiv.innerHTML = `
                  <p><strong>${post.datetime}</strong></p>
                  <p>${post.content}</p>
                  <p>
                      <button onclick="likePost(${post.user_id}, ${post.post_id})">👍 ${post.likes}</button>
                      <button onclick="dislikePost(${post.user_id}, ${post.post_id})">👎 ${post.dislikes}</button>
                      <button onclick="flagPost(${post.user_id}, ${post.post_id})">🚩 ${post.flags}</button>
                  </p>
              `;
              postsContainer.appendChild(postDiv);
          });
      });
  }

  function likePost(user_id, post_id) {
      fetch(`/like_post/${post_id}/`)
      .then(response => response.json())
      .then(data => {
          loadPosts();
      });
  }

  function dislikePost(user_id, post_id) {
      fetch(`/dislike_post/${post_id}/`)
      .then(response => response.json())
      .then(data => {
          loadPosts();
      });
  }

  function flagPost(user_id, post_id) {
      fetch(`/flag_post/${post_id}/`)
      .then(response => response.json())
      .then(data => {
          loadPosts();
      });
  }

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  loadPosts();
</script>

  <footer>

    <div class="cookie-banner" id="cookie-banner">
      Diese Website verwendet Cookies, um sicherzustellen, dass Sie die bestmögliche Erfahrung auf unserer Website machen.
      <a href="{% url 'datenschutz'%}">Mehr erfahren</a>
      <button id="accept-cookies">Akzeptieren</button>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          if (!localStorage.getItem('cookiesAccepted')) {
              document.getElementById('cookie-banner').style.display = 'block';
          }
          
          document.getElementById('accept-cookies').onclick = function() {
              localStorage.setItem('cookiesAccepted', 'true');
              document.getElementById('cookie-banner').style.display = 'none';
          };
      });
    </script>
    <style>
        
    .cookie-banner {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
      z-index: 1000; /* Banner überlagert anderen Inhalt */
      display: none;
    }
    .cookie-banner button {
      background-color: #f1c40f;
      color: #333;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-left: 10px;
    }
    .cookie-banner a {
      color: #f1c40f;
      text-decoration: none;
    }

    </style>

    {% if request.user.is_authenticated %}
    <div class="bottom-bar">
      <div>
        <textarea id="postContent" placeholder="Text eingeben und auf Posten!"></textarea>
        <button onclick="postContent()">Posten!</button>
      </div>
    </div>
    {% endif %}
    
  </footer>

</body>
</html>
