{% load static %}
<!DOCTYPE html>
<html lang="de">
    <meta charset="utf-8">
    <head>
        
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="{% static 'scripts.js' %}"></script>
        <style>
            body {
                text-align: center;
            }
            img {
            border-radius: 40%;
            height: 5cm;
            width: 5cm;
            }
        </style>
        
    </head>
    <body>
        <h2>Deine Profileinstellungen</h2>
        
        <img src="{% static 'Astronaut.webp' %"} alt="Profilbild" id="Astronaut">
        <button onclick="BildAuswahl()" type="button">Profilbild ändern!</button>

        <div>
            <p>Wohnort:  
                <input type="text" id="Wohnorteingabe" placeholder="Hier Wohnort eingeben">
                <button onclick="SpeichernWohnort()" type="button">Wohnort speichern!</button>
                <form action="../">
                    <input type="submit" value="Zurück zur Startseite" />
                </form>
                
            </p>
        </div>
        
        <script>
            var bilder = [
            "{% static 'Astronaut.webp' %}",
            "{% static 'Hundeastronaut.webp' %}",
            "{% static 'Katzeastronaut.webp' %}",
            "{% static 'Fuchsastronaut.webp' %}",
            "{% static 'Bärastronaut.webp' %}"
        ];
            var currentIndex = 0;
            var bildElement = document.getElementById("Astronaut");

            window.onload = function() {
                var gespeichertesBild = localStorage.getItem("profilbild");
                if (gespeichertesBild) {
                bildElement.src = gespeichertesBild;
                currentIndex = bilder.indexOf(gespeichertesBild);
                if (currentIndex === -1) currentIndex = 0;
                } 
                else {
                bildElement.src = bilder[currentIndex];
                }

                var gespeicherterWohnort = localStorage.getItem("wohnort")
                if (gespeicherterWohnort) {
                    document.getElementById("Wohnorteingabe").value = gespeicherterWohnort;
                }
            };

            function BildAuswahl() {
            currentIndex = (currentIndex + 1) % bilder.length;
            var newBild = bilder[currentIndex];
            bildElement.src = newBild;
            localStorage.setItem("profilbild", newBild);

            fetch('/save-userpic/', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ 'storedString': newBild })
            })
            .then(response => response.json())
            .then(data => console.log('Success:', data))
            .catch((error) => console.error('Error:', error));
        }

            function SpeichernWohnort() {
            var text = document.getElementById("Wohnorteingabe").value;
            localStorage.setItem("wohnort", text);

            fetch('/save-residence/', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ 'storedString': text })
            })
            .then(response => response.json())
            .then(data => console.log('Success:', data))
            .catch((error) => console.error('Error:', error));

            alert("Wohnort wurde gespeichert!");
        }
        </script>

    </body>
</html>
